{% load i18n %}
{% load url from future %}
{% if lista_contactos %}
<head>
    <title>Lista de contactos</title>
    <H1>Lista de conctactos</H1>
</head>
<form action="/contactos/buscar/" method="GET">
<input type="text" name="q">
<input type="submit" value="Search">
</form>
    <ul>
    {% for contacto in lista_contactos %}
        <li><a href= "{{contacto.id}}">{{ contacto.apellido1 }} {{ contacto.apellido2 }}  {{ contacto.nombre}}</a> <a href= "editar/{{contacto.id}}">editar</a>   <a href= "eliminar/{{contacto.id}}">eliminar</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No contactos registrados.</p>
{% endif %}

<body>
<a href="agregar">Agregar contacto </a>
</body>
